<h1>Product#add</h1>
<p>Find me in app/views/product/add.html.erb</p>
<%= form_tag ({controller: 'products',
    action: 'add',
    method: 'post'}) do %>

  <input name=product>
  <input type=submit value='add to cart'>
<% end %>